/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --font-main: 'Inter', sans-serif;
  --font-accent: 'PressStart2P', monospace;
  --font-weight-main-text: 410;
  --font-weight-main-title: 715;
  --background-gradient-horizontal: repeating-linear-gradient(
    90deg, #d3d3d3 0 2px, rgb(0 0 0 / 0) 2px 4px
  );
  --background-gradient-vertical: repeating-linear-gradient(
    180deg, #d3d3d3 0 2px, rgb(0 0 0 / 0) 2px 4px
  );
  --background-gradient-evenly: linear-gradient(
    180deg, #e7e7e7 0%, #e7e7e7 0.01%, #1a1a1a 100%
  );
  --container-width: clamp(375px, 80vw, 1440px);
  --bg-color-card: rgba(255, 255, 255, 1);
  --label-color: rgba(255, 255, 255, 1);
  --accent-color: rgba(0, 0, 0, 1);
  --btn-bg: #fff;
  --btn-text-color: #000;
  --overlay-color: #000;
  --fill-contour: #000;
  --fill-sparks: red;
}